.container {
  background-color: azure;
  border: solid 2px black;
  width: 240px;
  height: 80px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 7px;
}

.element {
  height: 15px;
  width: 15px;
  border: solid 0.5px black;
}
